<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Renovi"
        tools:targetApi="31">
        <activity
            android:name=".view.CreateRenovationActivity"
            android:exported="false" />
        <activity
            android:name=".view.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".view.CreateRefurbishmentActivity"
            android:exported="false" />
        <activity
            android:name=".view.AddMessageActivity"
            android:exported="true" />
        <activity
            android:name=".view.RenterRenovationsListActivity"
            android:exported="false" />
        <activity
            android:name=".view.RenterDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".view.CreateRenterActivity"
            android:exported="false" />
        <activity
            android:name=".view.RenterListActivity"
            android:exported="true"
            android:label="@string/title_activity_renter_list" />
        <activity
            android:name=".view.ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".view.InboxActivity"
            android:exported="true" />
        <activity
            android:name=".view.DetailsActivity"
            android:exported="true" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main_test" />
        <activity
            android:name=".view.WelcomeScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/title_activity_welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.LogInActivity"
            android:exported="true"
            android:label="@string/title_activity_login" />
    </application>

</manifest>